NODE_ENV='production'
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_BASE_URL=

# MONGODB
MONGODB_URI=
# BETTER AUTH
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# OPENAI
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
OPENAI_ENABLED=
OPENAI_FOR_EMAILS=

#NODEMAILER
NODEMAILER_EMAIL=
NODEMAILER_PASSWORD=

# MASSIVE.COM (Real-time Forex data)
MASSIVE_API_KEY=
NEXT_PUBLIC_MASSIVE_API_KEY=

# ADMIN PANEL
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_JWT_SECRET=
VERIFF_API_KEY=
VERIFF_API_SECRET=
VERIFF_BASE_URL=

IS_PRIMARY=true
SERVER_ID=